.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    background: #752d0f;
    color: white;
    border-bottom: 1px solid #550d00;
    box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
    justify-content: space-between;
}

.header button {
    padding: .75rem;
}

.title {
    font-size: 2rem
}
